html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../images/ignasi_pattern_s.png)
}

nav {
  background: #fff;
  height: 70px;
  width: 100%;
  text-decoration: none;
}

nav .logo {
  float: left;
  height: 40px;
  /*margin: 24px 30px 15px 114px;*/
  margin-left: 114px;
  padding: 10px;
  padding-bottom: 5px;
  background: #4aaaa5;
  font-size: 24px;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  padding-top: 25px;
  font-weight: bold;
}

nav .logo > a {
  color: white;
  text-decoration: none;
}

nav .navbar-right > li > a {
  text-decoration: none;
  color: #bbc;
}
nav .navbar-right {
  padding: 15px 30px;
  float: right;
}

nav .navbar-right > li {
  float: right;
  padding-left: 15px;
  padding-top: 13px;
  color: #bbc;
}

nav li:not(:first-child):after {
    content: " | ";
    padding-left: 10px;
}

hr {
  border: 1px solid #bbc;

}

#main-content {
  margin-top: 32px;
  margin-left: 118px;
  background-color: #fff;

}

.about-me-content{
  width: 650px;
  padding: 45px 10px 25px 31px;
}

.about-me-header {
  font-size: 32px;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  color: #4aaaa5;
  font-weight: bold;
  margin-bottom: 33px;
}
